<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>Even | Odd numbers !</h3>
      <div class="row">
        <app-game-control (counterStartd)="numberIncremented($event)"></app-game-control>
      </div>
      <hr>
      <div class="row list-group">
        <div *ngFor="let nbr of numbersArray">
          <app-even *ngIf="nbr%2 === 0" [evenNbr]="nbr"></app-even>
          <app-odd *ngIf="nbr%2 > 0" [oddNbr]="nbr"></app-odd>
        </div>
      </div>  
    </div>
  </div>
</div>